
# Repository-specific environment configuration.
#
# Links:
# - https://direnv.net

# Get the absolute path of the repository's root directory.
repository_root="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"

# Set the data directory path.
if test -z "${XDG_DATA_HOME}"; then
    data_home="${HOME}/.local/share"
else
    data_home="${XDG_DATA_HOME}"
fi

# Set the Miniconda3 installation directory path.
miniconda3_home="${data_home}/miniconda3"

# Set the Miniconda3 environment name.
miniconda3_environment_name="$(cat "${repository_root}/.miniconda3-environment-name")"

# Set the path of the repository's temporary directory.
temporary_home="${repository_root}/temp"
